@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

html {
    font-size: 15px;
}

body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    background-color: #ede8e0;
    color: #222;
    max-width: 31.67rem;
    margin: 2.67rem auto;
    padding: 1.33rem;
    font-size: 1rem;
    line-height: 1.3;
}

.container {
    text-align: left;
}

/* Logo */
.logo {
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-top: 6.67rem;
    margin-bottom: 5rem;
}

.logo img {
    width: 2.33rem;
    height: 2.33rem;
    margin-right: 0.67rem;
}

.logo-text {
    display: flex;
    flex-direction: column;
}

.logo-text h1 {
    margin: 0;
    font-size: 1rem;
    font-weight: 700;
}

.logo-text p {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
}

/* Paragraphs */
p {
    margin-bottom: 1.5rem;
}

h1 {
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 3rem;
}
h2 {
    font-size: 1.05rem;
    font-weight: 700;
    margin-top: 2rem;
}
h3 {
    font-size: 0.9rem;
    font-weight: 400;
    margin-top: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.133rem;
}

/* Links */
a {
    color: #222;
    text-decoration: underline;
    text-decoration-thickness: 0.0667rem;
}

a:hover {
    text-decoration-style: wavy;
}

/* Footer & Navigation */
.footer {
    margin-top: 5.33rem;
    text-align: left;
    font-size: 0.933rem;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.nav-bar {
    display: none;
    margin-left: 0.667rem;
}

.nav-bar a {
    margin-right: 0.667rem;
    text-decoration: none;
}

.nav-bar a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
}
